<body>
    <app-header></app-header>
    <main>
        <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>About Us</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End-->
    <!-- About Details Start -->
    <div class="about-details section-padding30">
        <div class="container" style="display:flex;justify-content:center">
            <div class="row" style="display:flex;justify-content:center">
                <div  class=" col-lg-8">
                    <div class="about-details-cap mb-50">
                        <h4>About Us</h4>
                        <p>
                            dsfgjbsdijf hesudhf uhsdjhf sdhfhj sdhghhjdjg hjjk gjkhdgjhjhjfh jhsjjdf hjhdhj fhj hhj dhjjfjdhfhhjhjdf hj jhjhdhj hj hjjhd fhjhjsh fjjshjhdfhj hjshjf hjshjf hjsjhdf hjdjf hjsdhfj hjdhf jsdhjfh jsdhfj hdsjhf jdsh f
                        </p>
                    </div>

                    <div class="about-details-cap mb-50">
                        <h4>Our Vision</h4>
                        <p>
                            dsfgjbsdijf hesudhf uhsdjhf sdhfhj sdhghhjdjg hjjk gjkhdgjhjhjfh jhsjjdf hjhdhj fhj hhj dhjjfjdhfhhjhjdf hj jhjhdhj hj hjjhd fhjhjsh fjjshjhdfhj hjshjf hjshjf hjsjhdf hjdjf hjsdhfj hjdhf jsdhjfh jsdhfj hdsjhf jdsh f dsfgjbsdijf hesudhf uhsdjhf sdhfhj sdhghhjdjg hjjk gjkhdgjhjhjfh jhsjjdf hjhdhj fhj hhj dhjjfjdhfhhjhjdf hj jhjhdhj hj hjjhd fhjhjsh fjjshjhdfhj hjshjf hjshjf hjsjhdf hjdjf hjsdhfj hjdhf jsdhjfh jsdhfj hdsjhf jdsh f dsfgjbsdijf hesudhf uhsdjhf sdhfhj sdhghhjdjg hjjk gjkhdgjhjhjfh jhsjjdf hjhdhj fhj hhj dhjjfjdhfhhjhjdf hj jhjhdhj hj hjjhd fhjhjsh fjjshjhdfhj hjshjf hjshjf hjsjhdf hjdjf hjsdhfj hjdhf jsdhjfh jsdhfj hdsjhf jdsh f
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Details End -->
    </main>
    <app-footer></app-footer>
    <!--? Search model Begin -->
    <div class="search-model-box">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-btn">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Searching key.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->
    </body>
